body {
	background-color: black;
}
p,a {
	color: orange;
}

img {
	width: 250px;
	height: 200px;
}

#nav{
	background-color: #1f1e1f;
}

.carousel-img {
	height: 400px;
	width: 50%;
	margin: auto;
	margin-left: 450px;
}

.carousel-inner {
	margin-top: 5px;
	margin-bottom: 100px;
}