body {
	background-color: black;
}
p,a {
	color: orange;
}

img {
	width: 250px;
	height: 200px;
	border-radius: 25px;
	margin-top: 10px;
}

.pause .col-sm{
	background-color: black;
	width: auto;
	height: 100px;
	border-color: black;
}


#nav{
	background-color: #1f1e1f;
}

.carousel-img {
	height: 400px;
	width: 50%;
	margin: auto;
	margin-left: 450px;
}

.carousel-inner {
	margin-top: 5px;
	margin-bottom: 100px;
}

.container-fluid {
	background-color: black;

	
}

.col-sm {
	background-color: #1f1e1f;
	border-radius: 25px;
	padding-left: 35px;
	margin: 4px 0px 0px 4px;
	border-width: 2px 3px 4px 2px;
	border-color: #a86922;
	border-style: solid;
	height: 450px;

}

.col-img {
	margin-top: 10px;
}

.title {
	font-size: 20px;
}

.row {
	margin: 1px 0px 0px 1px;
}